name: Backend CI/CD

on:
  push:
    branches:
      - main
    paths:
      - 'user-backend/**'
  workflow_dispatch:

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build Docker Image
        run: |
          docker build -t ${{ secrets.DOCKER_USERNAME }}/user-backend:${{ github.sha }} ./user-backend

      - name: Push Docker Image
        run: |
          docker push ${{ secrets.DOCKER_USERNAME }}/user-backend:${{ github.sha }}

      - name: Setup Kubeconfig
        run: |
          echo "${{ secrets.KUBE_CONFIG }}" | base64 --decode > kubeconfig
          export KUBECONFIG=$PWD/kubeconfig

      - name: Deploy to Kubernetes
        run: |
          kubectl set image deployment/backend-deployment \
          backend=${{ secrets.DOCKER_USERNAME }}/user-backend:${{ github.sha }}

